RewriteEngine on
RewriteRule ^\..*$ - [L,R=404]
RewriteRule ^.*\.html?$ - [L,R=404]
RewriteRule ^composer.json$ - [L,R=404]
RewriteRule ^composer.lock$ - [L,R=404]
RewriteRule ^utils/.*$ - [L,R=404]
RewriteRule ^vendor/.*$ - [L,R=404]

<IfModule mod_headers.c>
    Header set X-Frame-Options: "DENY"
    Header set X-XSS-Protection: "1; mode=block"
</IfModule>